.content.content-main
    #card
        .card-inner.fade
          header
            img(src=`${main.avatar.link}` width=`${main.avatar.width}` height=`${main.avatar.height}` alt="avatar")
            h1.text-custom(data-translate="name") #{main.name}
            h2#signature(data-translate="signature") #{main.signature}

          - const { first, second, third, fourth, bbbb, ccc } = main.ul
          ul
            li
              a(href=`${first.href}` aria-label=`${first.text}`)
                i(class=`icon icon-${first.icon}`)
                span.text-custom(data-translate=`${first.text}`) #{first.text}

            li
              a(href=`${second.href}` aria-label=`${second.text}`)
                i(class=`icon icon-${second.icon}`)
                span.text-custom(data-translate=`${second.text}`) #{second.text}

            li
              a(href=`${third.href}` aria-label=`${third.text}` target="_blank")
                i(class=`icon icon-${third.icon}`)
                span.text-custom(data-translate=`${third.text}`) #{third.text}

            li
              a(href=`${fourth.href}` aria-label=`${fourth.text}` target="_blank")
                i(class=`icon icon-${fourth.icon}`)
                span.text-custom(data-translate=`${fourth.text}`) #{fourth.text}

            li
              a(href=`${bbbb.href}` aria-label=`${bbbb.text}` target="_blank")
                i(class=`icon icon-${bbbb.icon}`)
                span.text-custom(data-translate=`${bbbb.text}`) #{bbbb.text}

            li
              a(href=`${ccc.href}` aria-label=`${ccc.text}` target="_blank")
                i(class=`icon icon-${ccc.icon}`)
                span.text-custom(data-translate=`${ccc.text}`) #{ccc.text}

    canvas#galaxyCanvas